  {% if include.category %}
  {% assign posts = site.categories.[include.category] %}
  {% assign category = site.data.categories[include.category] %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}
  {% if category %}
  <h1>{{ category.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}</h1>
  <p>{{ category.description | markdownify | remove: '<p>' | remove: '</p>' | strip }}</p>
  {% endif %}
  <nav id="{{ include.id }}" aria-label="{{ include.aria_label }}">
    {% if include.limit %}
      {% for post in posts limit: include.limit %}
      <article>
        <header>
          <h3>{% unless post.altTitle %}{{ post.title }}{% else %}{{ post.altTitle | markdownify | remove: '<p>' | remove: '</p>' | strip }}{% endunless %}</h3>
        </header>
        <section>
          <p>{{ post.description }}</p>
        </section>
        <aside class="small center_contents">
          <p><a href="{{ post.url | prepend: site.url }}" {% unless include.underline_links %}class="link"{% endunless %}>posted at {{ post.date | date: '%l:%M %p on %m/%d/%Y' }}</a></p>
        </aside>
      </article>
      {% endfor %}
    {% else %}
      {% for post in posts %}
      <article>
        <header>
          <h3>{% unless post.altTitle %}{{ post.title }}{% else %}{{ post.altTitle | markdownify | remove: '<p>' | remove: '</p>' | strip }}{% endunless %}</h3>
        </header>
        <section>
          <p>{{ post.description }}</p>
        </section>
        <aside class="small center_contents">
          <p><a href="{{ post.url | prepend: site.url }}" {% unless include.underline_links %}class="link"{% endunless %}>posted at {{ post.date | date: '%l:%M %p on %m/%d/%Y' }}</a></p>
        </aside>
      </article>
      {% endfor %}
    {% endif %}
  </nav>