<form method="POST" action="http://formspree.io/matthew@matthewgraybosch.com">
  <div class="form_row">
    {% if include.subject %}
    <input type="hidden" name="_subject" value="[matthewgraybosch.com] {{ include.subject }}">
    {% else %}
    <input type="hidden" name="_subject" value="[matthewgraybosch.com] Message from Contact Form">
    {% endif %}
  </div>
  <div class="form_row">
    <input type="hidden" name="_next" value="//matthewgraybosch.com/contact/thanks/" />
  </div>
  <div class="form_row">
    <label for="emailField">From:</label>
    <input id="emailField" name="_replyto" placeholder="Your email" type="email" required="true">
  </div>
  <div class="form_row">
    <label for="messageField">Message:</label>
    <textarea id="messageField" name="message" rows="10" placeholder="Your message" required="true" spellcheck="true"></textarea>
  </div>
  <div class="form_row hidden">
    <label for="spamTrapField">Spam Trap:</label>
    <input id="spamTrapField" type="text" name="_gotcha" />
  </div>
  <div class="form_row form_row_right_align">
    <button id="sendEmailButton" type="submit">Send</button>
  </div>
</form>