<meta charset="utf-8">
{% seo %}
<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">
{% capture inline_sass %}{% include main.scss %}{% endcapture %}
<style type="text/css">
  {{ inline_sass | scssify }}
</style>
{% if page.options.code %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/highlightjs/tomorrow-night-eighties.css">
{% endif %}