{% if page.options.jquery or page.options.highlight or page.options.fitvids %}
<script src="{{ site.url }}/assets/js/jquery-3.1.1.min.js" type="text/javascript" async="true"></script>
{% endif %}
{% if page.options.highlight %}
<script src="{{ site.url }}/assets/js/highlight.pack.js" type="text/javascript" async="true"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
{% endif %}
{% if page.options.fitvids %}
<script src="{{ site.url }}/assets/js/jquery.fitvids.js" type="text/javascript" async="true"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('iframe[src*="youtube"]').parent().fitVids();
  });
</script>
{% endif %}