/*
 * Base. These are element styles — no classes or IDs. Base typography styles go here, as well as anything needed to style raw elements.
 * See https://medium.com/@jordankoschei/how-i-shrank-my-css-by-84kb-by-refactoring-with-itcss-2e8dafee123a#.tbp9yocm3 for details.
 */

html {
  font-size: $fontSize;

  body {
    font-family: $systemSansSerif;
    line-height: $lineHeight;
    max-width: $maxWidth;
    margin: $margin;
    padding: $padding;
    color: $offBlack1;
    background-color: $offWhite;

    h1, h2, h3, h4, h5, h6 {
      font-family: $systemSerif;
      color: $offBlack2;
      line-height: $headingLineHeight;
    }

    blockquote {
      font-family: $systemSerif;
      color: $offBlack2;
    }

    code, pre {
      font-family: $systemMonospace;
    }

    footer {
      border-top-color: $offBlack2;
      border-top-style: solid;
      border-top-width: 1px;
      font-size: .75rem;
    }
  }
}