/*
 * Generic. This includes all the third-party CSS used throughout the site.
 * See https://medium.com/@jordankoschei/how-i-shrank-my-css-by-84kb-by-refactoring-with-itcss-2e8dafee123a#.tbp9yocm3 for details.
 */

// taken from http://mrmrs.io/links/
a {
  transition: color .4s;
  color: $navy;
}

a:link,
a:visited { color: $navy; }
a:hover   { color: $aqua; }
a:active  {
  transition: color .3s;
  color: $blue;
}

.link { text-decoration: none; }

// Taken from http://webaim.org/techniques/css/invisiblecontent/#skipnavlinks
#skip a
{ 
  position:absolute; 
  left:-10000px; 
  top:auto; 
  width:1px; 
  height:1px; 
  overflow:hidden;
} 
 
#skip a:focus 
{ 
  position:static; 
  width:auto; 
  height:auto; 
} 

// Taken from http://clrs.cc
/* Backgrounds */

.bg-navy {    background-color: $navy; }
.bg-blue {    background-color: $blue; }
.bg-aqua {    background-color: $aqua; }
.bg-teal {    background-color: $teal; }
.bg-olive {   background-color: $olive; }
.bg-green {   background-color: $green; }
.bg-lime {    background-color: $lime; }
.bg-yellow {  background-color: $yellow; }
.bg-orange {  background-color: $orange; }
.bg-red {     background-color: $red; }
.bg-fuchsia { background-color: $fuchsia; }
.bg-purple {  background-color: $purple; }
.bg-maroon {  background-color: $maroon; }
.bg-white {   background-color: $white; }
.bg-gray {    background-color: $gray; }
.bg-silver {  background-color: $silver; }
.bg-black {   background-color: $black; }


/* Colors */

.navy {       color: $navy; }
.blue {       color: $blue; }
.aqua {       color: $aqua; }
.teal {       color: $teal; }
.olive {      color: $olive; }
.green {      color: $green; }
.lime {       color: $lime; }
.yellow {     color: $yellow; }
.orange {     color: $orange; }
.red {        color: $red; }
.fuchsia {    color: $fuchsia; }
.purple {     color: $purple; }
.maroon {     color: $maroon; }
.white {      color: $white; }
.silver {     color: $silver; }
.gray {       color: $gray; }
.black {      color: $black; }


/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px; border-style: solid; }     
*/

.border-navy {    border-color: $navy; }
.border-blue {    border-color: $blue; }
.border-aqua {    border-color: $aqua; }
.border-teal {    border-color: $teal; }
.border-olive {   border-color: $olive; }
.border-green {   border-color: $green; }
.border-lime {    border-color: $lime; }
.border-yellow {  border-color: $yellow; }
.border-orange {  border-color: $orange; }
.border-red {     border-color: $red; }
.border-fuchsia { border-color: $fuchsia; }
.border-purple {  border-color: $purple; }
.border-maroon {  border-color: $maroon; }
.border-white {   border-color: $white; }
.border-gray {    border-color: $gray; }
.border-silver {  border-color: $silver; }
.border-black {   border-color: $black; }


/* Fills for SVG */

.fill-navy {    fill: $navy; }
.fill-blue {    fill: $blue; }
.fill-aqua {    fill: $aqua; }
.fill-teal {    fill: $teal; }
.fill-olive {   fill: $olive; }
.fill-green {   fill: $green; }
.fill-lime {    fill: $lime; }
.fill-yellow {  fill: $yellow; }
.fill-orange {  fill: $orange; }
.fill-red {     fill: $red; }
.fill-fuchsia { fill: $fuchsia; }
.fill-purple {  fill: $purple; }
.fill-maroon {  fill: $maroon; }
.fill-white {   fill: $white; }
.fill-gray {    fill: $gray; }
.fill-silver {  fill: $silver; }
.fill-black {   fill: $black; }

/* Strokes for SVG */

.stroke-navy {    stroke: $navy; }
.stroke-blue {    stroke: $blue; }
.stroke-aqua {    stroke: $aqua; }
.stroke-teal {    stroke: $teal; }
.stroke-olive {   stroke: $olive; }
.stroke-green {   stroke: $green; }
.stroke-lime {    stroke: $lime; }
.stroke-yellow {  stroke: $yellow; }
.stroke-orange {  stroke: $orange; }
.stroke-red {     stroke: $red; }
.stroke-fuchsia { stroke: $fuchsia; }
.stroke-purple {  stroke: $purple; }
.stroke-maroon {  stroke: $maroon; }
.stroke-white {   stroke: $white; }
.stroke-gray {    stroke: $gray; }
.stroke-silver {  stroke: $silver; }
.stroke-black {   stroke: $black; }

/*

    Name:       Base16 Eighties Light
    Author:     Chris Kempson (http://chriskempson.com)

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.syntax .hll { background-color: #e8e6df }
.syntax  { background: #f2f0ec; color: #2d2d2d }
.syntax .c { color: #a09f93 } /* Comment */
.syntax .err { color: #f2777a } /* Error */
.syntax .k { color: #cc99cc } /* Keyword */
.syntax .l { color: #f99157 } /* Literal */
.syntax .n { color: #2d2d2d } /* Name */
.syntax .o { color: #66cccc } /* Operator */
.syntax .p { color: #2d2d2d } /* Punctuation */
.syntax .cm { color: #a09f93 } /* Comment.Multiline */
.syntax .cp { color: #a09f93 } /* Comment.Preproc */
.syntax .c1 { color: #a09f93 } /* Comment.Single */
.syntax .cs { color: #a09f93 } /* Comment.Special */
.syntax .gd { color: #f2777a } /* Generic.Deleted */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gh { color: #2d2d2d; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #99cc99 } /* Generic.Inserted */
.syntax .gp { color: #a09f93; font-weight: bold } /* Generic.Prompt */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #66cccc; font-weight: bold } /* Generic.Subheading */
.syntax .kc { color: #cc99cc } /* Keyword.Constant */
.syntax .kd { color: #cc99cc } /* Keyword.Declaration */
.syntax .kn { color: #66cccc } /* Keyword.Namespace */
.syntax .kp { color: #cc99cc } /* Keyword.Pseudo */
.syntax .kr { color: #cc99cc } /* Keyword.Reserved */
.syntax .kt { color: #ffcc66 } /* Keyword.Type */
.syntax .ld { color: #99cc99 } /* Literal.Date */
.syntax .m { color: #f99157 } /* Literal.Number */
.syntax .s { color: #99cc99 } /* Literal.String */
.syntax .na { color: #6699cc } /* Name.Attribute */
.syntax .nb { color: #2d2d2d } /* Name.Builtin */
.syntax .nc { color: #ffcc66 } /* Name.Class */
.syntax .no { color: #f2777a } /* Name.Constant */
.syntax .nd { color: #66cccc } /* Name.Decorator */
.syntax .ni { color: #2d2d2d } /* Name.Entity */
.syntax .ne { color: #f2777a } /* Name.Exception */
.syntax .nf { color: #6699cc } /* Name.Function */
.syntax .nl { color: #2d2d2d } /* Name.Label */
.syntax .nn { color: #ffcc66 } /* Name.Namespace */
.syntax .nx { color: #6699cc } /* Name.Other */
.syntax .py { color: #2d2d2d } /* Name.Property */
.syntax .nt { color: #66cccc } /* Name.Tag */
.syntax .nv { color: #f2777a } /* Name.Variable */
.syntax .ow { color: #66cccc } /* Operator.Word */
.syntax .w { color: #2d2d2d } /* Text.Whitespace */
.syntax .mf { color: #f99157 } /* Literal.Number.Float */
.syntax .mh { color: #f99157 } /* Literal.Number.Hex */
.syntax .mi { color: #f99157 } /* Literal.Number.Integer */
.syntax .mo { color: #f99157 } /* Literal.Number.Oct */
.syntax .sb { color: #99cc99 } /* Literal.String.Backtick */
.syntax .sc { color: #2d2d2d } /* Literal.String.Char */
.syntax .sd { color: #a09f93 } /* Literal.String.Doc */
.syntax .s2 { color: #99cc99 } /* Literal.String.Double */
.syntax .se { color: #f99157 } /* Literal.String.Escape */
.syntax .sh { color: #99cc99 } /* Literal.String.Heredoc */
.syntax .si { color: #f99157 } /* Literal.String.Interpol */
.syntax .sx { color: #99cc99 } /* Literal.String.Other */
.syntax .sr { color: #99cc99 } /* Literal.String.Regex */
.syntax .s1 { color: #99cc99 } /* Literal.String.Single */
.syntax .ss { color: #99cc99 } /* Literal.String.Symbol */
.syntax .bp { color: #2d2d2d } /* Name.Builtin.Pseudo */
.syntax .vc { color: #f2777a } /* Name.Variable.Class */
.syntax .vg { color: #f2777a } /* Name.Variable.Global */
.syntax .vi { color: #f2777a } /* Name.Variable.Instance */
.syntax .il { color: #f99157 } /* Literal.Number.Integer.Long */
