/*
 * Generic. This includes all the third-party CSS used throughout the site.
 * See https://medium.com/@jordankoschei/how-i-shrank-my-css-by-84kb-by-refactoring-with-itcss-2e8dafee123a#.tbp9yocm3 for details.
 */

// taken from http://mrmrs.io/links/
a {
  transition: color .4s;
  color: $materialA700;
  text-underline-position: under;
}

a:link,
a:visited { 
  color: $materialA400;
}
a:hover   { 
  color: $materialA200; 
}
a:active  {
  transition: color .3s;
  color: $materialA100;
}

.link { text-decoration: none; }

// Taken from http://webaim.org/techniques/css/invisiblecontent/#skipnavlinks
#skip_link a
{ 
  position:absolute; 
  left:-10000px; 
  top:auto; 
  width:1px; 
  height:1px; 
  overflow:hidden;
} 
 
#skip_link a:focus 
{ 
  position:static; 
  width:auto; 
  height:auto; 
} 

// Taken from http://clrs.cc
/* Backgrounds */

.bg-white {  background-color: $materialWhite; }
.bg-offwhite { background-color: $material50; }

/* Colors */

.navy {       color: $material900; }
.blue {       color: $material700; }
.aqua {       color: $material500; }
.teal {       color: $material300; }
.charcoal { color: $material400; }


/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px; border-style: solid; }     
*/

.border-charcoal {    border-color: $material400; }
.border-black {   border-color: $materialBlack; }