$systemSansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Source Sans Pro", sans-serif;
$systemSerif: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
$systemMonospace: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
$fontSize: 24px;
$lineHeight: 1.6;
$headingLineHeight: 1.2;
$margin: 40px auto;
$padding: 0 10px;
$maxWidth: 700px;
$black1: #1e1e1e;
$black2: #111111;
$white: #f3f3f3;