/*
 * Settings. These are preprocessor variables for later use.
 * See https://medium.com/@jordankoschei/how-i-shrank-my-css-by-84kb-by-refactoring-with-itcss-2e8dafee123a#.tbp9yocm3 for details.
 */

// Material design colors for a consistent look. 
// All color schemes live in _sass/material-colors.
// To change color scheme, change this import statement.
@import "material-colors/blue";

// Let's also make sure we always have the Material Gray 
// palette, too. This lets us use off-whites and off-blacks
// with our main colors for softer contrast.
$materialGray50: #fafafa;
$materialGray100: #f5f5f5;
$materialGray200: #eeeeee;
$materialGray300: #e0e0e0;
$materialGray400: #bdbdbd;
$materialGray500: #9e9e9e;
$materialGray600: #757575;
$materialGray700: #616161;
$materialGray800: #424242;
$materialGray900: #212121;

// Likewise for plain black/white.
$materialBlack: #000000;
$materialWhite: #ffffff;

// System sans-serif font stack 
$systemSansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Source Sans Pro", sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$systemSerif: "Apple Garamond", "Baskerville", "Georgia", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
$systemMonospace: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;

// Is 24px overkill? Maybe, but I'm a size queen.
$fontSize: calc(18px + 0.5vw);
$printFontSize: 12px;
$spacing-unit: 1.2rem !default;
// Body settings inspired by bettermotherfuckingwebsite.com.
$lineHeight: 1.6;
$printLineHeight: 1.4;
$headingLineHeight: 1.2;
$margin: 40px auto;
$padding: 0 10px;
$maxWidth: 70vw;