// BLUE GRAY color scheme taken from Google's Material Design.
// https://material.io/guidelines/style/color.html#color-color-palette

$material50: #eceff1;
$material100: #cfd8dc;
$material200: #b0bec5;
$material300: #90a4ae;
$material400: #78909c;
$material500: #607d8b;
$material600: #546e7a;
$material700: #455a64;
$material800: #37474f;
$material900: #263238;
// Google didn't define accent colors for this color scheme.
$materialA100: $material200;
$materialA200: $material300;
$materialA400: $material500;
$materialA700: $material800;