// material900 color scheme taken from Google's Material Design.
// https://material.io/guidelines/style/color.html#color-color-palette

$material50: #e3f2fd;
$material100: #bbdefb;
$material200: #90caf9;
$material300: #64b5f6;
$material400: #42a5f5;
$material500: #2196f3;
$material600: #1e88e5;
$material700: #1976d2;
$material800: #1565c0;
$material900: #0d47a1;
$materialA100: #82b1ff;
$materialA200: #448aff;
$materialA400: #2979ff;
$materialA700: #2962ff;