// DEEP PURPLE color scheme taken from Google's Material Design.
// https://material.io/guidelines/style/color.html: #color-color-palette

$material50: #ede7f6;
$material100: #d1c4e9;
$material200: #b39ddb;
$material300: #9575cd;
$material400: #7e57c2;
$material500: #673ab7;
$material600: #5e35b1;
$material700: #512da8;
$material800: #4527a0;
$material900: #311b92;
$materialA100: #b388ff;
$materialA200: #7c4dff;
$materialA400: #651fff;
$materialA700: #6200ea;