// RED color scheme taken from Google's Material Design.
// https://material.io/guidelines/style/color.html: #color-color-palette

$material50: #e8f5e9;
$material100: #c8e6c9;
$material200: #a5d6a7;
$material300: #81c784;
$material400: #66bb6a;
$material500: #4caf50;
$material600: #43a047;
$material700: #388e3c;
$material800: #2e7d32;
$material900: #1b5e20;
$materialA100: #b9f6ca;
$materialA200: #69f0ae;
$materialA400: #00e676;
$materialA700: #00c853;