// RED color scheme taken from Google's Material Design.
// https://material.io/guidelines/style/color.html#color-color-palette

$material50: #ffebee;
$material100: #ffcdd2;
$material200: #ef9a9a;
$material300: #e57373;
$material400: #ef5350;
$material500: #f44336;
$material600: #e53935;
$material700: #d32f2f;
$material800: #c62828;
$material900: #b71c1c;
$materialA100: #ff8a80;
$materialA200: #ff5252;
$materialA400: #ff1744;
$materialA700: #d50000;