---
layout: default
---
<header id="page_header">
  {% include skip-nav.html %}
  <nav id="page_nav">
    <ul>
      <li><span class="bold charcoal" role="heading" aria-level="1">{{ site.name }}</span></li>
      <li><a href="/" class="link">Home</a></li>
      <li><a href="/about/" class="link">About</a></li>
      <li><a href="/blog/" class="link">Blog Archive</a>
    </ul>
  </nav>
</header>
<main id="main_content">
  <article>
    <header id="article_header">
      <h1>{{ page.title }}</h1>
      {% include reading-time.html %}
    </header>
    <section id="article_content">
      {{ content }}
    </section>
    <footer id="article_footer">
      {% include thanks-for-reading.html %}
      {% include post-info.html %}
    </footer>
  </article>
</main>
{% include footer.html %}