---
layout: default
---
<header id="page_header">
  {% include skip-nav.html %}
  <nav id="page_nav">
    <span class="bold blue" role="heading" aria-level="1">{{ site.name }}</span>
    <a href="/" class="link">Home</a>
    <a href="/about/" class="link">About</a>
    <a href="/blog/" class="link">Blog Archive</a>
  </nav>
</header>
<main id="main_content">
  <article>
    <header id="article_header">
      <h1>{{ page.title }}</h1>
      <p class="reading_time">
        {% assign words = content | number_of_words %}
			  {% if words < 360 %}
				  1 minute
			  {% else %}
				  {{ words | divided_by: 180 }} minutes
			  {% endif %} read
      </p>
    </header>
    <section id="article_content">
      {{ content }}
    </section>
    <footer id="article_footer">
      <p class="post_info">Posted on <strong>{{ page.date | date: '%B %d, %Y' }}</strong> under <strong>{{ page.category }}</strong></p>
      {% if page.updated %}
      <p class="post_info">Updated on <strong>{{ page.updated | date: '%B %d, %Y' }}</strong></p>
      {% endif %}
    </footer>
  </article>
</main>
{% include footer.html %}